extends layout

block content
  h1= title
  h3 Create from PDF printout
  form(id="create" name="create", method="post",  enctype="multipart/form-data")
    p Section:&nbsp;
      select(name="section")
        each section in sections
          option(value="{\"id\": \"#{section.id}\", \"name\": \"#{section.name}\"}") #{section.name}
    p PDF file:&nbsp;
      input(type="file", name="attachment")

    button(type="submit", name="submit", value="file") Create
    br
  script.
  script(src="/javascripts/index.js")
