extends layout

block content
  h1= title
  a(href='/') Go back
  br
  if errors.length != 0
    pre #{JSON.stringify(errors, null, 2)}
  if resourceUrl
    p
        a(href=resourceUrl, target='_onenote') View page
