body {
    padding: 50px;
    max-width: 960px;
    margin: 0 auto;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.loginBtn {
    margin: 3px 0;
}

.tick {
    position: relative;
    top: 2px;
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

.spinner {
    margin-left: 5px;
}
